<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8">
    <title>Moja pierwsza strona</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="style2.css">

</head>

<body>
    <h2 class="first">Witaj na mojej stronie domowej</h2><br>
    <img src="https://dzieje.pl/sites/default/files/styles/pp_zdjecie_glowne_pion/public/202003/slowacki_juliusz.jpg?itok=6nehKTAA"
        alt="Zdjęcie Juliusza Słowackiego" title="J. Słowacki"><br>
    <h1 class="second">Kontakt</h1><br>
    <ul>
        <li>email: ziulkowski@o2.pl</li>
        <li>telefon: 728-473-221</li>
        <br>
    </ul>
    <p><strong>Wyślij wiadomość</strong></p><br>

    <form action="....">
        <textarea name="nazwa" cols="x" rows="y"></textarea>
        <textarea name="..." cols="5" rows="1"
            style="font-size: 15px; font-family: Arial; border-style: solid; border-color: black; border-width: 1px;"
            readonly>Prześlij</textarea>
    </form>

</body>

</html>